/* ------------------------- COLORS ------------------------------------------- */
:root {
    --color01: #1f2a36;
    --color02: #fff; 
    --color03: #dc3545;
}

/* ------------------------- GENERAL ------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

.btn {
    background-color: var(--color01);
    border: 0.5px solid var(--color01);
}

.button {
    width: 100%;
}

.btn:hover {
    border: 0.5px solid var(--color01);
    background-color: var(--color02);
    color: var(--color01);
}

/* ------------------------- INDEX AND MODIFY PAGES ------------------------------------------- */
.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.left{
    background-image: url("../img/pizza.jpg");
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.right {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 85%;
}

.logo-pulcinella {
    width: 250px;
    height: 250px;
    object-fit: contain;
}

form {
    width: 75%;
}

/* ------------------------- CONFIRMATION PAGES ------------------------------------------- */
.main-confirmation {
    height: 100vh;
    width: 100%;
    background-color: var(--color01);
}

.section-confirmation {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;  
}

.top {
    display: flex;
    justify-content: flex-start;
}

.logo-pulcinella-confirmation {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.main {
    color: var(--color02);
}

div.main p {
    margin: 20px 0;
}

.btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.btn-confirmation {
    /*width: 50%;*/
    background-color: var(--color02);
    border: 0.5px solid var(--color02);
}

.btn-confirmation:hover {
    border: 0.5px solid var(--color02);
    background-color: var(--color01);
    color: var(--color02);
}

#btn-new-reserve {
    width: 100%;
}

.btn-confirmation.cancelation {
    background-color: var(--color01);
    color: var(--color02);
    border: 0.5px solid var(--color01);
}

.btn-confirmation.cancelation:last-child{
    background-color: var(--color03);
    border: 0.5px solid var(--color03);;
}

.btn-confirmation.cancelation:hover {
    background-color: var(--color02);
    color: var(--color01);
}